@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-outfit: 'Outfit', sans-serif;
  --font-ovo: 'Ovo', serif;
}

body {
  font-family: var(--font-outfit); /* Default font */
}

/* Example of using Ovo for headings or specific sections */
.heading-ovo {
  font-family: var(--font-ovo);
}
/* .font-Ovo{
  font-family: 'Ovo', serif;
} */